
#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #lights-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  #connector {
    position: absolute;
    background: black;
    height: 3%;
    top: 50%;
    width: 80%;
    left: 10%;
    z-index: -1;
  }

  .help {
    width: 90%;
    text-align: center;
  }

  .time {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

    .time {
      font-size: 3.5rem;
    }

    .light-container {
      width: 100px;
      padding: 0 10px;
      border-radius: 15px;
      background: black;
      margin: 0 5px;
    }

    .light {
      padding-top: 100%;
      border-radius: 50%;
      background: #8080805c;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .light.on {
      background: #ff1801;
    }
  
  .framelightsout {
    width: 23rem;
    margin: auto;
    text-align: center;
  }